* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#wrapper{
	text-align: center;
	display:box;
	margin:0 auto;
}

#container{
	margin-top: 20px;
	display: inline-grid;
	width:640px;
	height:640px;
	border-style:outset;
}

.emptyCell{
	border-style: outset;
}

.fullCell{
	border-style:inset;
	background-color:black;
}
